<!-- Extending from base.html -->
{% extends 'base.html' %}
<!-- Used to load in static files -->
{% load static %}

{% block content %}
<!-- Page Title Descriptor -->
  <h1>Keys</h1>
  <!-- Link back to previous page -->
  <a href="/skyrimse/">The Elder Scrolls V: Skyrim Special Edition (Home Page)</a>
  <!-- Load Shouts into MongoDB -->
  <div class="row">
    {% for key, value in data.counts.items %}
      {% if value == 0 %}
        <div class="col-sm-2"><input type="button" onclick="window.location.href='keysLoad={{key}}'" value="Load {{key}}"></div>
      {% endif %}
    {% endfor %}
  </div>
  <!-- Display Key Completion -->
  {% for location, locationData in data.locations.items %}
    <h4>{{ location }}</h4>
    <div class="row">
      {% for source, sourceData in locationData.items %}
        <div class="col-5">
          <a href="{{ source }}-{{ location }}"><h5>{{ source }}</h5></a>
          <table border="1" width=100%>
            <tr><td>
              {% for difficulty, stats in sourceData.items %}
                <div class="row">
                  <div class="col">{{ difficulty }}</div>
                  <div class="col"><progress value={{ stats.collected }} max={{ stats.total }}></progress></div>
                  <div class="col">{{ stats.collected }} / {{ stats.total }}</div>
                </div>
              {% endfor %}
            </td></tr>
          </table>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
{% endblock %}