<!-- Extending from base.html -->
{% extends 'base.html' %}
<!-- Used to load in static files -->
{% load static %}

{% block content %}
  <!-- Page Title Descriptor -->
  <div>
    <h1>Progress Tracker</h1>
  </div>
  <!-- Link back to previous page -->
  <a href="/skyrimse/">The Elder Scrolls V: Skyrim Special Edition (Home Page)</a>
  <!-- Table containing difficulty progress -->
  <table style="width:90%" border="1">
    <tr>
      <td>
        <b style="font-size:20px;">Novice</b>&nbsp;&nbsp;&nbsp;&nbsp;
        {% if data.Novice == None %}
          <input type="button" onclick="window.location.href='addDifficulty=Novice'" value="Start Novice">
        {% else %}
          <input type="button" value="Refresh" onclick="window.location.href='refreshProgress=novice'" disabled><br><br>
          <div class="row">
            <div class="col">
              <b>Level: </b>&nbsp;&nbsp;&nbsp;&nbsp;{{data.Novice.level}}&nbsp;&nbsp;&nbsp;&nbsp;
              <input type="button" value="Level Up" onclick="window.location.href='levelProgress=level'">
            </div>
            <div class="col">
              <b>Health: </b>&nbsp;&nbsp;&nbsp;&nbsp;{{data.Novice.health}}&nbsp;&nbsp;&nbsp;&nbsp;
              <input type="button" value="Level Up" onclick="window.location.href='levelProgress=health'">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <b>Magicka: </b>&nbsp;&nbsp;&nbsp;&nbsp;{{data.Novice.magicka}}&nbsp;&nbsp;&nbsp;&nbsp;
              <input type="button" value="Level Up" onclick="window.location.href='levelProgress=magicka'">
            </div>
            <div class="col">
              <b>Stamina: </b>&nbsp;&nbsp;&nbsp;&nbsp;{{data.Novice.stamina}}&nbsp;&nbsp;&nbsp;&nbsp;
              <input type="button" value="Level Up" onclick="window.location.href='levelProgress=stamina'">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col">Vanilla</div>
            <div class="col"><progress value={{data.Novice.completion.vanilla}} x max="100"></progress></div>
            <div class="col">{{data.Novice.completion.vanilla}}%</div>
          </div>
          <div class="row">
            <div class="col">Mod(s)</div>
            <div class="col"><progress value={{data.Novice.completion.mod}} max="100"></progress></div>
            <div class="col">{{data.Novice.completion.mod}}%</div>
          </div>
          <a href={{data.Novice.difficulty}}>Full Details</a>
        {% endif %}
      </td>
      <td>
        <b style="font-size:20px;">Apprentice</b>&nbsp;&nbsp;&nbsp;&nbsp;
        {% if data.Apprentice == None %}
          <input type="button" onclick="window.location.href='addDifficulty=Apprentice'" value="Start Apprentice">
        {% else %}
          <input type="button" value="Refresh" onclick="window.location.href='refreshProgress=apprentice'" disabled><br><br>
          <div class="row">
            <div class="col">
              <b>Level: </b>&nbsp;&nbsp;&nbsp;&nbsp;{{data.Apprentice.level}}&nbsp;&nbsp;&nbsp;&nbsp;
              <input type="button" value="Level Up" onclick="window.location.href='levelProgress=level'">
            </div>
            <div class="col">
              <b>Health: </b>&nbsp;&nbsp;&nbsp;&nbsp;{{data.Apprentice.health}}&nbsp;&nbsp;&nbsp;&nbsp;
              <input type="button" value="Level Up" onclick="window.location.href='levelProgress=health'">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <b>Magicka: </b>&nbsp;&nbsp;&nbsp;&nbsp;{{data.Apprentice.magicka}}&nbsp;&nbsp;&nbsp;&nbsp;
              <input type="button" value="Level Up" onclick="window.location.href='levelProgress=magicka'">
            </div>
            <div class="col">
              <b>Stamina: </b>&nbsp;&nbsp;&nbsp;&nbsp;{{data.Apprentice.stamina}}&nbsp;&nbsp;&nbsp;&nbsp;
              <input type="button" value="Level Up" onclick="window.location.href='levelProgress=stamina'">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col">Vanilla</div>
            <div class="col"><progress value={{data.Apprentice.completion.vanilla}} max="100"></progress></div>
            <div class="col">{{data.Apprentice.completion.vanilla}}%</div>
          </div>
          <div class="row">
            <div class="col">Mod(s)</div>
            <div class="col"><progress value={{data.Apprentice.completion.mod}} max="100"></progress></div>
            <div class="col">{{data.Apprentice.completion.mod}}%</div>
          </div>
          <a href={{data.Apprentice.difficulty}}>Full Details</a>
        {% endif %}
      </td>
    </tr>
    <tr>
      <td>
        <b style="font-size:20px;">Adept</b>&nbsp;&nbsp;&nbsp;&nbsp;
        {% if data.Adept == None %}
          <input type="button" onclick="window.location.href='addDifficulty=Adept'" value="Start Adept">
        {% else %}
          <input type="button" value="Refresh" onclick="window.location.href='refreshProgress=adept'" disabled><br><br>
          <div class="row">
            <div class="col">
              <b>Level: </b>&nbsp;&nbsp;&nbsp;&nbsp;{{data.Adept.level}}&nbsp;&nbsp;&nbsp;&nbsp;
              <input type="button" value="Level Up" onclick="window.location.href='levelProgress=level'">
            </div>
            <div class="col">
              <b>Health: </b>&nbsp;&nbsp;&nbsp;&nbsp;{{data.Adept.health}}&nbsp;&nbsp;&nbsp;&nbsp;
              <input type="button" value="Level Up" onclick="window.location.href='levelProgress=health'">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <b>Magicka: </b>&nbsp;&nbsp;&nbsp;&nbsp;{{data.Adept.magicka}}&nbsp;&nbsp;&nbsp;&nbsp;
              <input type="button" value="Level Up" onclick="window.location.href='levelProgress=magicka'">
            </div>
            <div class="col">
              <b>Stamina: </b>&nbsp;&nbsp;&nbsp;&nbsp;{{data.Adept.stamina}}&nbsp;&nbsp;&nbsp;&nbsp;
              <input type="button" value="Level Up" onclick="window.location.href='levelProgress=stamina'">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col">Vanilla</div>
            <div class="col"><progress value={{data.Adept.completion.vanilla}} max="100"></progress></div>
            <div class="col">{{data.Adept.completion.vanilla}}%</div>
          </div>
          <div class="row">
            <div class="col">Mod(s)</div>
            <div class="col"><progress value={{data.Adept.completion.mod}} max="100"></progress></div>
            <div class="col">{{data.Adept.completion.mod}}%</div>
          </div>
          <a href={{data.Adept.difficulty}}>Full Details</a>
        {% endif %}
      </td>
      <td>
        <b style="font-size:20px;">Expert</b>&nbsp;&nbsp;&nbsp;&nbsp;
        {% if data.Expert == None %}
          <input type="button" onclick="window.location.href='addDifficulty=Expert'" value="Start Expert">
        {% else %}
          <input type="button" value="Refresh" onclick="window.location.href='refreshProgress=expert'" disabled><br><br>
          <div class="row">
            <div class="col">
              <b>Level: </b>&nbsp;&nbsp;&nbsp;&nbsp;{{data.Expert.level}}&nbsp;&nbsp;&nbsp;&nbsp;
              <input type="button" value="Level Up" onclick="window.location.href='levelProgress=level'">
            </div>
            <div class="col">
              <b>Health: </b>&nbsp;&nbsp;&nbsp;&nbsp;{{data.Expert.health}}&nbsp;&nbsp;&nbsp;&nbsp;
              <input type="button" value="Level Up" onclick="window.location.href='levelProgress=health'">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <b>Magicka: </b>&nbsp;&nbsp;&nbsp;&nbsp;{{data.Expert.magicka}}&nbsp;&nbsp;&nbsp;&nbsp;
              <input type="button" value="Level Up" onclick="window.location.href='levelProgress=magicka'">
            </div>
            <div class="col">
              <b>Stamina: </b>&nbsp;&nbsp;&nbsp;&nbsp;{{data.Expert.stamina}}&nbsp;&nbsp;&nbsp;&nbsp;
              <input type="button" value="Level Up" onclick="window.location.href='levelProgress=stamina'">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col">Vanilla</div>
            <div class="col"><progress value={{data.Expert.completion.vanilla}} max="100"></progress></div>
            <div class="col">{{data.Expert.completion.vanilla}}%</div>
          </div>
          <div class="row">
            <div class="col">Mod(s)</div>
            <div class="col"><progress value={{data.Expert.completion.mod}} max="100"></progress></div>
            <div class="col">{{data.Expert.completion.mod}}%</div>
          </div>
          <a href={{data.Expert.difficulty}}>Full Details</a>
        {% endif %}
      </td>
    </tr>
    <tr>
      <td>
        <b style="font-size:20px;">Master</b>&nbsp;&nbsp;&nbsp;&nbsp;
        {% if data.Master == None %}
          <input type="button" onclick="window.location.href='addDifficulty=Master'" value="Start Master">
        {% else %}
          <input type="button" value="Refresh" onclick="window.location.href='refreshProgress=master'" disabled><br><br>
          <div class="row">
            <div class="col">
              <b>Level: </b>&nbsp;&nbsp;&nbsp;&nbsp;{{data.Master.level}}&nbsp;&nbsp;&nbsp;&nbsp;
              <input type="button" value="Level Up" onclick="window.location.href='levelProgress=level'">
            </div>
            <div class="col">
              <b>Health: </b>&nbsp;&nbsp;&nbsp;&nbsp;{{data.Master.health}}&nbsp;&nbsp;&nbsp;&nbsp;
              <input type="button" value="Level Up" onclick="window.location.href='levelProgress=health'">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <b>Magicka: </b>&nbsp;&nbsp;&nbsp;&nbsp;{{data.Master.magicka}}&nbsp;&nbsp;&nbsp;&nbsp;
              <input type="button" value="Level Up" onclick="window.location.href='levelProgress=magicka'">
            </div>
            <div class="col">
              <b>Stamina: </b>&nbsp;&nbsp;&nbsp;&nbsp;{{data.Master.stamina}}&nbsp;&nbsp;&nbsp;&nbsp;
              <input type="button" value="Level Up" onclick="window.location.href='levelProgress=stamina'">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col">Vanilla</div>
            <div class="col"><progress value={{data.Master.completion.vanilla}} max="100"></progress></div>
            <div class="col">{{data.Master.completion.vanilla}}%</div>
          </div>
          <div class="row">
            <div class="col">Mod(s)</div>
            <div class="col"><progress value={{data.Master.completion.mod}} max="100"></progress></div>
            <div class="col">{{data.Master.completion.mod}}%</div>
          </div>
          <a href={{data.Master.difficulty}}>Full Details</a>
        {% endif %}
      </td>
      <td>
        <b style="font-size:20px;">Legendary</b>&nbsp;&nbsp;&nbsp;&nbsp;
        {% if data.Legendary == None %}
          <input type="button" onclick="window.location.href='addDifficulty=Legendary'" value="Start Legendary">
        {% else %}
          <input type="button" value="Refresh" onclick="window.location.href='refreshProgress=legendary'" disabled><br><br>
          <div class="row">
            <div class="col">
              <b>Level: </b>&nbsp;&nbsp;&nbsp;&nbsp;{{data.Legendary.level}}&nbsp;&nbsp;&nbsp;&nbsp;
              <input type="button" value="Level Up" onclick="window.location.href='levelProgress=level'">
            </div>
            <div class="col">
              <b>Health: </b>&nbsp;&nbsp;&nbsp;&nbsp;{{data.Legendary.health}}&nbsp;&nbsp;&nbsp;&nbsp;
              <input type="button" value="Level Up" onclick="window.location.href='levelProgress=health'">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <b>Magicka: </b>&nbsp;&nbsp;&nbsp;&nbsp;{{data.Legendary.magicka}}&nbsp;&nbsp;&nbsp;&nbsp;
              <input type="button" value="Level Up" onclick="window.location.href='levelProgress=magicka'">
            </div>
            <div class="col">
              <b>Stamina: </b>&nbsp;&nbsp;&nbsp;&nbsp;{{data.Legendary.stamina}}&nbsp;&nbsp;&nbsp;&nbsp;
              <input type="button" value="Level Up" onclick="window.location.href='levelProgress=stamina'">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col">Vanilla</div>
            <div class="col"><progress value={{data.Legendary.completion.vanilla}} max="100"></progress></div>
            <div class="col">{{data.Legendary.completion.vanilla}}%</div>
          </div>
          <div class="row">
            <div class="col">Mod(s)</div>
            <div class="col"><progress value={{data.Legendary.completion.mod}} max="100"></progress></div>
            <div class="col">{{data.Legendary.completion.mod}}%</div>
          </div>
          <a href={{data.Legendary.difficulty}}>Full Details</a>
        {% endif %}
      </td>
    </tr>
  </table>
{% endblock %}