<!-- Extending from base.html -->
{% extends 'base.html' %}
<!-- Used to load in static files -->
{% load static %}

{% block content %}
<!-- Page Title Descriptor -->
  <h1>{{ data.source }} Spells</h1>
  <h5>School: {{ data.school }}</h5>
  <!-- Link back to previous page -->
  <a href="/skyrimse/spells/">The Elder Scrolls V: Skyrim Special Edition (Spells Page)</a>
  <!-- Load Spells from MongoDB -->
  <div class="row">
    {% for name, spell in data.spells.items %}
      <div class="col-6">
        <h6>{{ name }}</h6>
        <table border="1">
          <tr>
            <td width=35%>{{ spell.description }}</td>
            <td>
              {% for difficulty, stats in spell.completion.items %}
                <div class="row">
                  <div class="col">{{ difficulty }}</div>
                  <div class="col">
                    {% if stats.skillLevel == None %}
                      Difficulty not started
                    {% else %}
                      {% if stats.skillLevel < spell.level %}
                        Skill level too low
                      {% else %}
                        {% if stats.learned > 0 %}
                          Learned
                        {% else %}
                          <input type="button" onclick="window.location.href='learnSpell={{ spell.id }}&difficulty={{ difficulty }}'" value="Learn">
                        {% endif %}
                      {% endif %}
                    {% endif %}
                  </div>
                </div>
              {% endfor %}
            </td>
          </tr>
        </table>
        <br>
      </div>
    {% endfor %}
  </div>
{% endblock %}