<!-- Extending from base.html -->
{% extends 'base.html' %}
<!-- Used to load in static files -->
{% load static %}

{% block content %}
  <!-- Page Title Descriptor -->
  <div>
    <h1>Skyim SE Home Page</h1>
  </div>
  <!-- Link back to previous page -->
  <a href="/">GameTracker (Home Page)</a>
  <!-- Table Containing list of games-->
  <table style="width:100%">
    <tr>
      <td><a href="/skyrimse/progress">Progress Tracker</a></td>
      <td><a href="/skyrimse/quests">Quests</a></td>
      <td><a href="/skyrimse/perks">Perks</a></td>
    </tr>
    <tr>
      <td><a href="/skyrimse/shouts">Shouts</a></td>
      <td><a href="/skyrimse/locations">Locations</a></td>
      <td><a href="/skyrimse/spells">Spells</a></td>
    </tr>
    <tr>
      <td><a href="/skyrimse/enchantments">Enchantments</a></td>
      <td><a href="/skyrimse/ingredients">Ingredients</a></td>
      <td><a href="/skyrimse/weapons">Weapons</a></td>
    </tr>
    <tr>
      <td><a href="/skyrimse/armors">Armors</a></td>
      <td><a href="/skyrimse/jewelry">Jewelry</a></td>
      <td><a href="/skyrimse/books">Books</a></td>
    </tr>
    <tr>
      <td><a href="/skyrimse/keys">Keys</a></td>
    </tr>
  </table>
{% endblock %}