<!-- Extending from base.html -->
{% extends 'base.html' %}
<!-- Used to load in static files -->
{% load static %}

{% block content %}
<!-- Page Title Descriptor -->
  <h1>{{ data.source }} Ingredients</h1>
  <!-- Link back to previous page -->
  <a href="/skyrimse/ingredients/">The Elder Scrolls V: Skyrim Special Edition (Ingredients Page)</a>
  <!-- Load Spells from MongoDB -->
  {% for ingredient in data.ingredients %}
    <h4>{{ ingredient.name }}</h4>
    <table border="1" width=100%>
        <tr>
        <td colspan="4"><b>Locations: </b>{{ ingredient.location }}</td>
        </tr>
        <tr>
        {% for effect in ingredient.effects %}
          <td>
          {% if effect.known == False %}
            <b><h5>Unknown</h5></b>
          {% else %}
            <b><h5>{{ effect.name }}</h5></b>
          {% endif %}
          <b><h6>({{ effect.order }})</h6></b>
          {% for difficulty, stats in effect.completion.items %}
            <div class="row">
              <div class="col-4">{{ difficulty }}</div>
              <div class="col-8">
                {% if stats.started == None %}
                  Diffiuclty not started
                {% else %}
                  {% if stats.learned > 0 %}
                    Learned
                  {% else %}
                    <input type="button" onclick="window.location.href='learnEffect={{ ingredient.id }}&effect={{ effect.name }}&difficulty={{ difficulty }}'" value="Learn">
                  {% endif %}
                {% endif %}
              </div>
            </div>
          {% endfor %}
          </td>
        {% endfor %}
        </tr>
    </table>
    <br>
  {% endfor %}
{% endblock %}