<!-- Extending from base.html -->
{% extends 'base.html' %}
<!-- Used to load in static files -->
{% load static %}

{% block content %}
  <!-- Page Title Descriptor -->
  <h1>{{data.skill}}</h1>
  <h5>Source: {{data.source}}</h5>
  <!-- Link back to previous page -->
  <a href="/skyrimse/perks/">The Elder Scrolls V: Skyrim Special Edition (Perks Page)</a>
  <!-- List our the Perks -->
  <div class="row">
    {% for name, info in data.perks.items %}
      <div class="col-6">
        <h6>{{ name }}</h6>
        <table border="1">
          <tr> 
            <td>
              <b>Description: </b>{{ info.description }}<br>
              <b>Level: </b>{{ info.level }}
            </td>
            <td style="width:70%">
              {% for difficulty, stats in info.completion.items %}
                <div class="row">
                  <div class="col">{{ difficulty }}</div>
                  <div class="col">
                    {% if stats.learned > 0 %}
                      <div class="col">Leared</div>
                    {% else %}
                      {% if stats.skillLevel != None %}
                        {% if stats.skillLevel >= info.level %}
                          <div class="col"><input type="button" onclick="window.location.href='learnPerk={{info.id}}&difficulty={{difficulty}}&sourceSkill={{data.source}}-{{data.skill}}'" value="Learn"></div>
                        {% else %}
                          <div class="col">Level not high enough</div>
                        {% endif %}
                      {% endif %}
                    {% endif %}
                  </div>
                </div>
              {% endfor %}
            </td>
          </tr>
        </table>
      </div>
    {% endfor %}
  </div>
{% endblock %}