<!-- Extending from base.html -->
{% extends 'base.html' %}
<!-- Used to load in static files -->
{% load static %}

{% block content %}
  <!-- Page Title Descriptor -->
  <h1>Progress Detail</h1>
  <!-- Link back to previous page -->
  <a href="/skyrimse/progress/">The Elder Scrolls V: Skyrim Special Edition (Progress Page)</a>
  <div class="row" style="padding-top=10px;">
    <div class="col-sm-10"><h3>Difficulty: {{data.difficulty}}</h3></div>
    <div class="col-sm-2"><input type="button" onclick="window.location.href='deleteDifficulty={{data.id}}'" value="Delete"></div>
  </div>
  <p>Started: {{data.created}}</p>
  <!-- Skills Section -->
  <h3>Skills</h3>
  <div class="row">
    <div class="col-8">
      {% if data.difficulty == "novice"%}
        <img src="{% static '/images/progress/skills-novice.png' %}" alt="{{data.difficulty}} Skills Graph" height=100% width=100%>
      {% elif data.difficulty == "apprentice"%}
        <img src="{% static '/images/progress/skills-apprentice.png' %}" alt="{{data.difficulty}} Skills Graph" height=100% width=100%>
      {% elif data.difficulty == "adept"%}
        <img src="{% static '/images/progress/skills-adept.png' %}" alt="{{data.difficulty}} Skills Graph" height=100% width=100%>
      {% elif data.difficulty == "expert"%}
        <img src="{% static '/images/progress/skills-expert.png' %}" alt="{{data.difficulty}} Skills Graph" height=100% width=100%>
      {% elif data.difficulty == "master"%}
        <img src="{% static '/images/progress/skills-master.png' %}" alt="{{data.difficulty}} Skills Graph" height=100% width=100%>
      {% elif data.difficulty == "legendary"%}
        <img src="{% static '/images/progress/skills-legendary.png' %}" alt="{{data.difficulty}} Skills Graph" height=100% width=100%>
      {% endif %}
    </div>
    <div class="col-4" style="overflow:auto">
      <table border="1">
        <tr><td>
          Alchemy: {{ data.skills.alchemy.level }}&nbsp;&nbsp;&nbsp;&nbsp;
          Legendary: {{ data.skills.alchemy.legendary}}&nbsp;&nbsp;&nbsp;&nbsp;
          {% if data.skills.alchemy.level < 100 %}
            <input type="button" onclick="window.location.href='levelSkill=alchemy&difficulty={{data.id}}&levelType=level'" value="Level up">
          {% else %}
            <input type="button" onclick="window.location.href='levelSkill=alchemy&difficulty={{data.id}}&levelType=legendary'" value="Legendary">
          {% endif %}
        </td></tr>
        <tr><td>
          Alteration: {{ data.skills.alteration.level }}&nbsp;&nbsp;&nbsp;&nbsp;
          Legendary: {{ data.skills.alteration.legendary}}&nbsp;&nbsp;&nbsp;&nbsp;
          {% if data.skills.alteration.level < 100 %}
            <input type="button" onclick="window.location.href='levelSkill=alteration&difficulty={{data.id}}&levelType=level'" value="Level up">
          {% else %}
            <input type="button" onclick="window.location.href='levelSkill=alteration&difficulty={{data.id}}&levelType=legendary'" value="Legendary">
          {% endif %}
        </td></tr>
        <tr><td>
          Archery: {{ data.skills.archery.level }}&nbsp;&nbsp;&nbsp;&nbsp;
          Legendary: {{ data.skills.archery.legendary}}&nbsp;&nbsp;&nbsp;&nbsp;
          {% if data.skills.alteration.level < 100 %}
            <input type="button" onclick="window.location.href='levelSkill=archery&difficulty={{data.id}}&levelType=level'" value="Level up">
          {% else %}
            <input type="button" onclick="window.location.href='levelSkill=archery&difficulty={{data.id}}&levelType=legendary'" value="Legendary">
          {% endif %}
        </td></tr>
        <tr><td>
          Block: {{ data.skills.block.level }}&nbsp;&nbsp;&nbsp;&nbsp;
          Legendary: {{ data.skills.block.legendary}}&nbsp;&nbsp;&nbsp;&nbsp;
          {% if data.skills.alteration.level < 100 %}
            <input type="button" onclick="window.location.href='levelSkill=block&difficulty={{data.id}}&levelType=level'" value="Level up">
          {% else %}
            <input type="button" onclick="window.location.href='levelSkill=block&difficulty={{data.id}}&levelType=legendary'" value="Legendary">
          {% endif %}
        </td></tr>
        <tr><td>
          Conjuration: {{ data.skills.conjuration.level }}&nbsp;&nbsp;&nbsp;&nbsp;
          Legendary: {{ data.skills.conjuration.legendary}}&nbsp;&nbsp;&nbsp;&nbsp;
          {% if data.skills.alteration.level < 100 %}
            <input type="button" onclick="window.location.href='levelSkill=conjuration&difficulty={{data.id}}&levelType=level'" value="Level up">
          {% else %}
            <input type="button" onclick="window.location.href='levelSkill=conjuration&difficulty={{data.id}}&levelType=legendary'" value="Legendary">
          {% endif %}
        </td></tr>
        <tr><td>
          Destruction: {{ data.skills.destruction.level }}&nbsp;&nbsp;&nbsp;&nbsp;
          Legendary: {{ data.skills.destruction.legendary}}&nbsp;&nbsp;&nbsp;&nbsp;
          {% if data.skills.alteration.level < 100 %}
            <input type="button" onclick="window.location.href='levelSkill=destruction&difficulty={{data.id}}&levelType=level'" value="Level up">
          {% else %}
            <input type="button" onclick="window.location.href='levelSkill=destruction&difficulty={{data.id}}&levelType=legendary'" value="Legendary">
          {% endif %}
        </td></tr>
        <tr><td>
          Enchanting: {{ data.skills.enchanting.level }}&nbsp;&nbsp;&nbsp;&nbsp;
          Legendary: {{ data.skills.enchanting.legendary}}&nbsp;&nbsp;&nbsp;&nbsp;
          {% if data.skills.alteration.level < 100 %}
            <input type="button" onclick="window.location.href='levelSkill=enchanting&difficulty={{data.id}}&levelType=level'" value="Level up">
          {% else %}
            <input type="button" onclick="window.location.href='levelSkill=enchanting&difficulty={{data.id}}&levelType=legendary'" value="Legendary">
          {% endif %}
        </td></tr>
        <tr><td>
          Heavy Armor: {{ data.skills.heavyArmor.level }}&nbsp;&nbsp;&nbsp;&nbsp;
          Legendary: {{ data.skills.heavyArmor.legendary}}&nbsp;&nbsp;&nbsp;&nbsp;
          {% if data.skills.alteration.level < 100 %}
            <input type="button" onclick="window.location.href='levelSkill=heavyArmor&difficulty={{data.id}}&levelType=level'" value="Level up">
          {% else %}
            <input type="button" onclick="window.location.href='levelSkill=heavyArmor&difficulty={{data.id}}&levelType=legendary'" value="Legendary">
          {% endif %}
        </td></tr>
        <tr><td>
          Illusion: {{ data.skills.illusion.level }}&nbsp;&nbsp;&nbsp;&nbsp;
          Legendary: {{ data.skills.illusion.legendary}}&nbsp;&nbsp;&nbsp;&nbsp;
          {% if data.skills.alteration.level < 100 %}
            <input type="button" onclick="window.location.href='levelSkill=illusion&difficulty={{data.id}}&levelType=level'" value="Level up">
          {% else %}
            <input type="button" onclick="window.location.href='levelSkill=illusion&difficulty={{data.id}}&levelType=legendary'" value="Legendary">
          {% endif %}
        </td></tr>
        <tr><td>
          Light Armor: {{ data.skills.lightArmor.level }}&nbsp;&nbsp;&nbsp;&nbsp;
          Legendary: {{ data.skills.lightArmor.legendary}}&nbsp;&nbsp;&nbsp;&nbsp;
          {% if data.skills.alteration.level < 100 %}
            <input type="button" onclick="window.location.href='levelSkill=lightArmor&difficulty={{data.id}}&levelType=level'" value="Level up">
          {% else %}
            <input type="button" onclick="window.location.href='levelSkill=lightArmor&difficulty={{data.id}}&levelType=legendary'" value="Legendary">
          {% endif %}
        </td></tr>
        <tr><td>
          Lockpicking: {{ data.skills.lockpicking.level }}&nbsp;&nbsp;&nbsp;&nbsp;
          Legendary: {{ data.skills.lockpicking.legendary}}&nbsp;&nbsp;&nbsp;&nbsp;
          {% if data.skills.alteration.level < 100 %}
            <input type="button" onclick="window.location.href='levelSkill=lockpicking&difficulty={{data.id}}&levelType=level'" value="Level up">
          {% else %}
            <input type="button" onclick="window.location.href='levelSkill=lockpicking&difficulty={{data.id}}&levelType=legendary'" value="Legendary">
          {% endif %}
        </td></tr>
        <tr><td>
          One Handed: {{ data.skills.oneHanded.level }}&nbsp;&nbsp;&nbsp;&nbsp;
          Legendary: {{ data.skills.oneHanded.legendary}}&nbsp;&nbsp;&nbsp;&nbsp;
          {% if data.skills.alteration.level < 100 %}
            <input type="button" onclick="window.location.href='levelSkill=oneHanded&difficulty={{data.id}}&levelType=level'" value="Level up">
          {% else %}
            <input type="button" onclick="window.location.href='levelSkill=oneHanded&difficulty={{data.id}}&levelType=legendary'" value="Legendary">
          {% endif %}
        </td></tr>
        <tr><td>
          Pick Pocketing: {{ data.skills.pickPocket.level }}&nbsp;&nbsp;&nbsp;&nbsp;
          Legendary: {{ data.skills.pickPocket.legendary}}&nbsp;&nbsp;&nbsp;&nbsp;
          {% if data.skills.alteration.level < 100 %}
            <input type="button" onclick="window.location.href='levelSkill=pickPocket&difficulty={{data.id}}&levelType=level'" value="Level up">
          {% else %}
            <input type="button" onclick="window.location.href='levelSkill=pickPocket&difficulty={{data.id}}&levelType=legendary'" value="Legendary">
          {% endif %}
        </td></tr>
        <tr><td>
          Restoration: {{ data.skills.restoration.level }}&nbsp;&nbsp;&nbsp;&nbsp;
          Legendary: {{ data.skills.restoration.legendary}}&nbsp;&nbsp;&nbsp;&nbsp;
          {% if data.skills.alteration.level < 100 %}
            <input type="button" onclick="window.location.href='levelSkill=restoration&difficulty={{data.id}}&levelType=level'" value="Level up">
          {% else %}
            <input type="button" onclick="window.location.href='levelSkill=restoration&difficulty={{data.id}}&levelType=legendary'" value="Legendary">
          {% endif %}
        </td></tr>
        <tr><td>
          Smithing: {{ data.skills.smithing.level }}&nbsp;&nbsp;&nbsp;&nbsp;
          Legendary: {{ data.skills.smithing.legendary}}&nbsp;&nbsp;&nbsp;&nbsp;
          {% if data.skills.alteration.level < 100 %}
            <input type="button" onclick="window.location.href='levelSkill=smithing&difficulty={{data.id}}&levelType=level'" value="Level up">
          {% else %}
            <input type="button" onclick="window.location.href='levelSkill=smithing&difficulty={{data.id}}&levelType=legendary'" value="Legendary">
          {% endif %}
        </td></tr>
        <tr><td>
          Sneak: {{ data.skills.sneak.level }}&nbsp;&nbsp;&nbsp;&nbsp;
          Legendary: {{ data.skills.sneak.legendary}}&nbsp;&nbsp;&nbsp;&nbsp;
          {% if data.skills.alteration.level < 100 %}
            <input type="button" onclick="window.location.href='levelSkill=sneak&difficulty={{data.id}}&levelType=level'" value="Level up">
          {% else %}
            <input type="button" onclick="window.location.href='levelSkill=sneak&difficulty={{data.id}}&levelType=legendary'" value="Legendary">
          {% endif %}
        </td></tr>
        <tr><td>
          Speech: {{ data.skills.speech.level }}&nbsp;&nbsp;&nbsp;&nbsp;
          Legendary: {{ data.skills.speech.legendary}}&nbsp;&nbsp;&nbsp;&nbsp;
          {% if data.skills.alteration.level < 100 %}
            <input type="button" onclick="window.location.href='levelSkill=speech&difficulty={{data.id}}&levelType=level'" value="Level up">
          {% else %}
            <input type="button" onclick="window.location.href='levelSkill=speech&difficulty={{data.id}}&levelType=legendary'" value="Legendary">
          {% endif %}
        </td></tr>
        <tr><td>
          Two Handed: {{ data.skills.twoHanded.level }}&nbsp;&nbsp;&nbsp;&nbsp;
          Legendary: {{ data.skills.twoHanded.legendary}}&nbsp;&nbsp;&nbsp;&nbsp;
          {% if data.skills.alteration.level < 100 %}
            <input type="button" onclick="window.location.href='levelSkill=twoHanded&difficulty={{data.id}}&levelType=level'" value="Level up">
          {% else %}
            <input type="button" onclick="window.location.href='levelSkill=twoHanded&difficulty={{data.id}}&levelType=legendary'" value="Legendary">
          {% endif %}
        </td></tr>
      </table>
    </div>
    <div>
      <h2>Stats</h2>
      <!-- Quests -->
      <div class="row">
        <div class="col">
          <b>Quests<b>&nbsp;&nbsp;&nbsp;&nbsp;
          <progress value={{data.collected.quests}} max={{data.collectedTotal.quests}}></progress>&nbsp;&nbsp;&nbsp;&nbsp;
          {{data.collected.quests}} / {{data.collectedTotal.quests}}
        </div>
        <div class="col">
          <b>Quests (mods)<b>&nbsp;&nbsp;&nbsp;&nbsp;
          <progress value={{data.collected.modQuests}} max={{data.collectedTotal.modQuests}}></progress>&nbsp;&nbsp;&nbsp;&nbsp;
          {{data.collected.modQuests}} / {{data.collectedTotal.modQuests}}
        </div>
      </div>
      <!-- Perks -->
      <div class="row">
        <div class="col">
          <b>Perks<b>&nbsp;&nbsp;&nbsp;&nbsp;
          <progress value={{data.collected.perks}} max={{data.collectedTotal.perks}}></progress>&nbsp;&nbsp;&nbsp;&nbsp;
          {{data.collected.perks}} / {{data.collectedTotal.perks}}
        </div>
        <div class="col">
          <b>Perks (mods)<b>&nbsp;&nbsp;&nbsp;&nbsp;
          <progress value={{data.collected.modPerks}} max={{data.collectedTotal.modPerks}}></progress>&nbsp;&nbsp;&nbsp;&nbsp;
          {{data.collected.modPerks}} / {{data.collectedTotal.modPerks}}
        </div>
      </div>
    </div>
  </div>
{% endblock %}