<!-- Extending from base.html -->
{% extends 'base.html' %}
<!-- Used to load in static files -->
{% load static %}

{% block content %}
  <!-- Page Title Descriptor -->
  <h1>Progress Detail</h1>
  <!-- Link back to previous page -->
  <a href="/skyrimse/progress/">The Elder Scrolls V: Skyrim Special Edition (Progress Page)</a>
  <div class="row" style="padding-top=10px;">
    <div class="col-sm-10"><h3>Difficulty: {{data.difficulty}}</h3></div>
    <div class="col-sm-2"><input type="button" onclick="window.location.href='deleteDifficulty={{data.id}}'" value="Delete"></div>
  </div>
  <p>Started: {{data.created}}</p>
  <!-- Skills Section -->
  <h3>Skills</h3>
  <div class="row">
    <div class="col" style="padding:0;margin:0">
      {% if data.difficulty == "novice"%}
        <img src="{% static '/images/progress/combat-skills-novice.png' %}" alt="{{data.difficulty}} Skills Graph" height=100% width=100%>
      {% elif data.difficulty == "apprentice"%}
        <img src="{% static '/images/progress/combat-skills-apprentice.png' %}" alt="{{data.difficulty}} Skills Graph" height=100% width=100%>
      {% elif data.difficulty == "adept"%}
        <img src="{% static '/images/progress/combat-skills-adept.png' %}" alt="{{data.difficulty}} Skills Graph" height=100% width=100%>
      {% elif data.difficulty == "expert"%}
        <img src="{% static '/images/progress/combat-skills-expert.png' %}" alt="{{data.difficulty}} Skills Graph" height=100% width=100%>
      {% elif data.difficulty == "master"%}
        <img src="{% static '/images/progress/combat-skills-master.png' %}" alt="{{data.difficulty}} Skills Graph" height=100% width=100%>
      {% elif data.difficulty == "legendary"%}
        <img src="{% static '/images/progress/combat-skills-legendary.png' %}" alt="{{data.difficulty}} Skills Graph" height=100% width=100%>
      {% endif %}
    </div>
    <div class="col" style="padding:0;margin:0">
      {% if data.difficulty == "novice"%}
        <img src="{% static '/images/progress/magic-skills-novice.png' %}" alt="{{data.difficulty}} Skills Graph" height=100% width=100%>
      {% elif data.difficulty == "apprentice"%}
        <img src="{% static '/images/progress/magic-skills-apprentice.png' %}" alt="{{data.difficulty}} Skills Graph" height=100% width=100%>
      {% elif data.difficulty == "adept"%}
        <img src="{% static '/images/progress/magic-skills-adept.png' %}" alt="{{data.difficulty}} Skills Graph" height=100% width=100%>
      {% elif data.difficulty == "expert"%}
        <img src="{% static '/images/progress/magic-skills-expert.png' %}" alt="{{data.difficulty}} Skills Graph" height=100% width=100%>
      {% elif data.difficulty == "master"%}
        <img src="{% static '/images/progress/magic-skills-master.png' %}" alt="{{data.difficulty}} Skills Graph" height=100% width=100%>
      {% elif data.difficulty == "legendary"%}
        <img src="{% static '/images/progress/magic-skills-legendary.png' %}" alt="{{data.difficulty}} Skills Graph" height=100% width=100%>
      {% endif %}
    </div>
    <div class="col" style="padding:0;margin:0">
      {% if data.difficulty == "novice"%}
        <img src="{% static '/images/progress/stealth-skills-novice.png' %}" alt="{{data.difficulty}} Skills Graph" height=100% width=100%>
      {% elif data.difficulty == "apprentice"%}
        <img src="{% static '/images/progress/stealth-skills-apprentice.png' %}" alt="{{data.difficulty}} Skills Graph" height=100% width=100%>
      {% elif data.difficulty == "adept"%}
        <img src="{% static '/images/progress/stealth-skills-adept.png' %}" alt="{{data.difficulty}} Skills Graph" height=100% width=100%>
      {% elif data.difficulty == "expert"%}
        <img src="{% static '/images/progress/stealth-skills-expert.png' %}" alt="{{data.difficulty}} Skills Graph" height=100% width=100%>
      {% elif data.difficulty == "master"%}
        <img src="{% static '/images/progress/stealth-skills-master.png' %}" alt="{{data.difficulty}} Skills Graph" height=100% width=100%>
      {% elif data.difficulty == "legendary"%}
        <img src="{% static '/images/progress/stealth-skills-legendary.png' %}" alt="{{data.difficulty}} Skills Graph" height=100% width=100%>
      {% endif %}
    </div>
  </div>
  <div class="row" style="padding:0;margin:0">
    <div class="col" style="padding:0;margin:0">
      <table border="1">
        {% for skill, skillData in data.skills.combat.items %}
          <tr><td>
            <div class="row" style="padding:0;margin:0">
              <div class="col-5" style="padding:0;margin:0">{{ skill }}: {{ skillData.level }}</div>
              <div class="col-5" style="padding:0;margin:0">Legendary: {{ skillData.legendary }}</div>
              <div class="col-2" style="padding:0;margin:0">
                {% if skillData.level < 100 %}
                  <input type="button" onclick="window.location.href='levelSkill={{ skill }}&difficulty={{ data.id }}&levelType=level'" value="Level up">
                {% else %}
                  <input type="button" onclick="window.location.href='levelSkill={{ skill }}&difficulty={{ data.id }}&levelType=legendary'" value="Legendary">
                {% endif %}
              </div>
            </div>
          </td></tr>
        {% endfor %}
      </table>
    </div>
    <div class="col" style="padding:0;margin:0">
      <table border="1">
        {% for skill, skillData in data.skills.magic.items %}
          <tr><td>
            <div class="row" style="padding:0;margin:0">
              <div class="col-5" style="padding:0;margin:0">{{ skill }}: {{ skillData.level }}</div>
              <div class="col-5" style="padding:0;margin:0">Legendary: {{ skillData.legendary }}</div>
              <div class="col-2" style="padding:0;margin:0">
                {% if skillData.level < 100 %}
                  <input type="button" onclick="window.location.href='levelSkill={{ skill }}&difficulty={{ data.id }}&levelType=level'" value="Level up">
                {% else %}
                  <input type="button" onclick="window.location.href='levelSkill={{ skill }}&difficulty={{ data.id }}&levelType=legendary'" value="Legendary">
                {% endif %}
              </div>
            </div>
          </td></tr>
        {% endfor %}
      </table>
    </div>
    <div class="col" style="padding:0;margin:0">
      <table border="1">
        {% for skill, skillData in data.skills.stealth.items %}
          <tr><td>
            <div class="row" style="padding:0;margin:0">
              <div class="col-5" style="padding:0;margin:0">{{ skill }}: {{ skillData.level }}</div>
              <div class="col-5" style="padding:0;margin:0">Legendary: {{ skillData.legendary }}</div>
              <div class="col-2" style="padding:0;margin:0">
                {% if skillData.level < 100 %}
                  <input type="button" onclick="window.location.href='levelSkill={{ skill }}&difficulty={{ data.id }}&levelType=level'" value="Level up">
                {% else %}
                  <input type="button" onclick="window.location.href='levelSkill={{ skill }}&difficulty={{ data.id }}&levelType=legendary'" value="Legendary">
                {% endif %}
              </div>
            </div>
          </td></tr>
        {% endfor %}
      </table>
    </div>
  </div>
      <h2>Stats</h2>
      <div class="row">
        {% for stat, statData in data.stats.items %}
          <div class="col-6">
            {% if statData.total > 0 %}
              <div class="row">
                <div class="col"><b>{{ stat }}</b></div>
                <div class="col"><progress value={{ statData.collected }} max={{ statData.total }}></div>
                <div class="col"><b>{{ statData.collected }} / {{ statData.total }}</b></div>
              </div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}