<!-- Extending from base.html -->
{% extends 'base.html' %}
<!-- Used to load in static files -->
{% load static %}

{% block content %}
  <!-- Page Title Descriptor -->
  <h1>{{data.questLine}}</h1>
  <h5>Source: {{data.source}}</h5>
  <!-- Link back to previous page -->
  <a href="/skyrimse/quests/">The Elder Scrolls V: Skyrim Special Edition (Quests Page)</a>
  <!-- Load Quests into MongoDB -->
  {% for name, questline in data.sections.items %}
    <h3>{{ name }}</h3>
    {% for quest, details in questline.items %}
      <!-- Quest Name -->
      <h5>{{ quest }}</h5>
      <table border="1" style="width:100%">
        <tr>
          <td style="width:60%;">
            <div class="row">
              <div class="col">
                <!-- Quest Description -->
                <h6>Description</h6>
                <p>{{quest.description}}</p>
                <!-- Quest Locations -->
                <h6>Location(s)</h6>
                {% for location in quest.locations %}
                  {{location}}
                {% endfor %}
                <!-- Quest Reward(s) -->
                <h6>Reward(s)</h6>
                <ul>
                  {% for reward in quest.rewards %}
                    <li>{{reward}}</li>
                  {% endfor %}
                </ul>
              </div>
              <!-- Quest Objectives -->
              <div class="col">
                <h6>Objectives</h6>
                <ol>
                  {% for objective in data.objectives %}
                    <li>{{objective}}</li>
                  {% endfor %}
                </ol>
              </div>
            </div>
          </td>
          <td valign="top" style="width:30%;">
            <!-- Quest Completion Stats/Button -->
            <h5>Difficulty Status</h5>
            {% for difficulty, stats in details.completion.items %}
              <div class="row">
                <div class="col">{{ difficulty }}</div>
                {% if stats.started == None %}
                  <div class="col">Difficulty not started</div>
                {% elif details.radiant %}
                  <div class="col">{{ stats.times }} times</div>
                  <div class="col"><input type="button" onclick="window.location.href='completeQuest={{ details.id }}&difficulty={{ difficulty }}&questLine={{ data.source }}-{{ data.questLine }}'" value="Complete"></div>
                {% else %}
                  {% if stats.times == 0%}
                    <div class="col"><input type="button" onclick="window.location.href='completeQuest={{ details.id }}&difficulty={{ difficulty }}&questLine={{ data.source }}-{{ data.questLine }}'" value="Complete"></div>
                  {% else %}
                    <div class="col">Completed</div>
                  {% endif %}
                {% endif %}
              </div>
            {% endfor %}
          </td>
        </tr>
      </table>
    {% endfor %}
  {% endfor %}
{% endblock %}