<!-- Extending from base.html -->
{% extends 'base.html' %}
<!-- Used to load in static files -->
{% load static %}

{% block content %}
<!-- Page Title Descriptor -->
  <h1>{{ data.source }} Weapons</h1>
  <h5>Type: {{ data.type }}</h5>
  <!-- Link back to previous page -->
  <a href="/skyrimse/weapons/">The Elder Scrolls V: Skyrim Special Edition (Weapons Page)</a>
  <!-- Load Spells from MongoDB -->
  {% for class, weapons in data.classes.items %}
    <h5>{{ class }}</h5>
    <div class="row">
      {% for weapon in weapons %}
        <div class="col-4">
          <h6>{{ weapon.name }}</h6>
          <table border="1" width=100%>
            <tr><td>
              {% for difficulty, stats in weapon.completion.items%}
                <div class="row">
                  <div class="col">{{ difficulty }}</div>
                  <div class="col">
                    {% if stats.started == None %}
                      Difficulty not started
                    {% else %}
                      {% if stats.collected > 0 %}
                        Collected
                      {% else %}
                        <input type="button" onclick="window.location.href='collectWeapon={{ weapon.id }}&difficulty={{ difficulty }}'" value="Collect">
                      {% endif %}
                    {% endif %}
                  </div>
                </div>
              {% endfor %}
            </td></tr>
          </table>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
{% endblock %}