<!-- Extending from base.html -->
{% extends 'base.html' %}
<!-- Used to load in static files -->
{% load static %}

{% block content %}
  <!-- Page Title Descriptor -->
  <h1>Shout Details</h1>
  <h4>Source: {{ data.source }}</h4>
  <!-- Link back to previous page -->
  <a href="/skyrimse/shouts/">The Elder Scrolls V: Skyrim Special Edition (Shouts Page)</a>
  <!-- Display data from MongoDB -->
  {% for name, shoutData in data.shouts.items %}
    <h4>{{ name }}</h4>
    <table border="1" style="width:100%;">
      <tr>
        <td colspan="3"><b>Description:</b> {{ shoutData.description }}</td>
      </tr>
      <tr>
        {% for word in shoutData.words %}
          <td>
            <div class="row">
              <div class="col"><h5>{{ word.original }} ({{ word.translation }})</h5></div>
              <div class="col">Cooldown: {{ word.cooldown }}</div>
            </div>
            {% for difficulty, wordData in word.completion.items %}
              <div class="row">
                <div class="col">{{ difficulty }}</div>
                <div class="col">
                  {% if wordData.started == None %}
                    Difficulty not started
                  {% else %}
                    {% if wordData.learned > 0 %}
                      Learned
                    {% else %}
                      <input type="button" onclick="window.location.href='learnWord={{ shoutData.id }}&word={{ word.translation }}&difficulty={{ difficulty }}'" value="Learn">
                    {% endif %}
                  {% endif %}
                </div>
              </div>
            {% endfor %}
          </td>
        {% endfor %}
      </tr>
    </table>
  {% endfor %}
{% endblock %}