<!-- Extending from base.html -->
{% extends 'base.html' %}
<!-- Used to load in static files -->
{% load static %}

{% block content %}
  <!-- Page Title Descriptor -->
  <h1>Quests</h1>
  <!-- Link back to previous page -->
  <a href="/skyrimse/">The Elder Scrolls V: Skyrim Special Edition (Home Page)</a>
  <!-- Load Quests into MongoDB -->
  <div class="row">
    {% for key, value in data.counts.items %}
      {% if value == 0 %}
        <div class="col-sm-2"><input type="button" onclick="window.location.href='loadQuests={{key}}'" value="Load {{key}}"></div>
      {% endif %}
    {% endfor %}
  </div>
  <!-- Display Quests -->
  {% for source, questLines in data.sources.items%}
    <h2>{{source}}</h2>
    <div class="row">
      {% for questLine, stats in questLines.items %}
        <div class="col-sm-6">
          <a href="{{source}}-{{questLine}}"><h5>{{questLine}}</h5></a>
          <table border="1">
          <tr>
            <td>TODO: Add Description</td>
            <td>
              {% for difficulty, progress in stats.items %}
                {{difficulty}}: <progress value={{progress.complete}} max={{progress.total}}></progress> {{progress.complete}}/{{progress.total}}<br>
              {% endfor %}
            </td>
          </tr>
          </table>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
{% endblock %}