<!-- Extending from base.html -->
{% extends 'base.html' %}
<!-- Used to load in static files -->
{% load static %}

{% block content %}
  <!-- Home Page Panels -->
  {% for game, groups in data.items %}
    <h2>{{ game }}</h2>
    {% for group, results in groups.items %}
      <h4>{{ group }}</h4>
      <div class="row">
        {% for result in results %}
          <div class="col-2" width="100%" style="padding:5px;">
          <table border="1"></tr><td>
            <a href="{{ result.url }}">{{ result.name }}</a>
          </td></tr></table>
          </div>
        {% endfor %}
      </div>
      <br>
    {% endfor %}
  {% endfor %}
{% endblock %}